---
BasedOnStyle: Mozilla
IndentWidth: 4
ContinuationIndentWidth: 4
---
Language: Cpp
ColumnLimit: 110
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: None
DerivePointerAlignment: false
IncludeBlocks: Regroup
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Always
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false
PenaltyBreakAssignment: 250
WhitespaceSensitiveMacros: ['_', '__attribute__']
AllowShortEnumsOnASingleLine: false
...
